{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
  <div class="topnav" style="text-align:right;">
    <a class="active" href="/">Home |</a>
    <a href="/admin">Admin |</a>
    <a href="/reservations">Reservations</a>
  </div>
  <h2 class="title">Administrator Login</h2>
  
  <form method="POST" action="/admin">
    <!-- Error Message -->
      {% if err %}
        <p>{{ err }}</p>
      {% endif %}

      <!-- Seating Chart -->
      {% if login == true %}
        <p>Seating Chart</p>
        {% for x in seat_chart %}
          <p>{{ x }}</p>
        {% endfor %}
        <!-- Total Sales -->
        <p>Total Sales: ${{ total_sales }}</p>
      {% endif %}


      <!-- Username/Password -->
      {{ form.csrf_token }}
      <div class="form-field">{{ form.username.label }} {{ form.username }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {{ form.login }}
  </form>
  
</div>
{% endblock %}
